*{
    margin: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border-bottom: solid black 1px;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

.main{
    height: 100vh;
}