*{
    margin: 0;
    box-sizing: border-box;
    padding: 2px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border-bottom: solid black 1px;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

.main{
    height: 100vh;
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

.random-movie-container {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 75vw;
    border: 2px solid black;
    padding: 10px;
}

.random-movie-container > h2 {
    border-bottom: 1px solid grey;
    padding: 2px;
    margin-bottom: 5px;
}

button {
    max-width: 200px;
}

.favorite-movie-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black; 
    padding: 10px;
}

.favorite-movie-list > h2 {
    border-bottom: 1px solid grey;
    padding: 2px;
    margin-bottom: 5px;
}